* {
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switchTheme {
  height: 10vh;
  width: 50vw;
}

.scheme0 {
  --green: green;
  --yellow: gold;
  --blue: navy;
  --orange: darkorange;
  --red: red;
}

.scheme1 {
  --green: #829de9;
  --yellow: #2d2508;
  --blue: #0136c8;
  --orange: #daac03;
  --red: #6c018c;
}

.scheme2 {
  --green: #e982ae;
  --yellow: #cb4902;
  --blue: #99104b;
  --orange: #291307;
  --red: #508a27;
}

.scheme5 {
  --green: #cf3902;
  --yellow: #d39802;
  --blue: #e99d82;
  --orange: #292007;
  --red: #0e47af;
}

.scheme4 {
  --green: #82cce9;
  --yellow: #361da9;
  --blue: #296278;
  --orange: #0d0729;
  --red: #c77802;
}

.scheme3 {
  --green: #C4E061;
  --yellow: #213F0B;
  --blue: #FEFE74;
  --orange: #000000;
  --red: #7DCB45;
}

.game {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min(100vh, 100vw);
  height: min(100vh, 100vw);
  /* background-color: gray;*/
}

.section {
  box-shadow: 0px 0px 50vw #fff inset;
} /*
.section:hover {
  box-shadow: 0px 0px 50px #fff inset;
}*/

.active {
  box-shadow: 0px 0px 15vw #fff inset;
}

.green {
  background-color: var(--green);
  border-top-left-radius: 100%;
}
.blue {
  background-color: var(--blue);
  border-bottom-right-radius: 100%;
}
.yellow {
  background-color: var(--yellow);
  border-top-right-radius: 100%;
}
.orange {
  background-color: var(--orange);
  border-bottom-left-radius: 100%;
}
.red {
  background-color: var(--red);
  position: absolute;
  margin: min(25vh, 25vw);
  width: min(50vh, 50vw);
  height: min(50vh, 50vw);
  border-radius: 50%;
}

.gameState {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  user-select: none;
}

.gameStateUser {
  text-transform: uppercase;
}

.refresh:before {
  content: "↺";
  display: block;
}

.nextStage:before {
  content: "→";
  display: block;
}
